<h1>Détails de la réservation</h1>

<p>Cet arène est réservée du <%= @booking.start %> au <%= @booking.end %>.</p>

<p>Le montant total de la réservation est de <%= @booking.total %> €.</p>


<%= link_to 'Retour à la liste des réservations', booking_mine_path, class: 'btn btn-secondary' %>
<%= button_to "Annuler cette réservation", arena_booking_path(@booking), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer votre réservation ?" }, class: "btn btn-danger" %>
