<div class="container">
  <% @arenas.each do |arena| %>
    <div class="row">
      <div class="col">
        <div class="card mb-3" style="max-width: 850px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= cl_image_tag arena.photo.key, class: 'card-img-top' %>
            </div>
            <div class="col-md-8 d-flex flex-column">
              <div class="d-flex card-body align-items-start flex-column">
                <h5 class="card-title"><%= arena.name %></h5>
                <p class="card-price"><%= number_to_currency(arena.price, unit: "€", delimiter: " ", format: "%n %u") %> Par représentation</p>
                <p class="card-text"><%= arena.description %></p>
                <div class="mt-auto">
                  <p class="card-text"><small class="text-muted">Créé il y a <%= time_ago_in_words(arena.created_at, locale: :fr) %></small></p>
                </div>
                <!-- Lien pour voir les détails de l'arène -->
                <div class="mt-2">
                  <%= link_to 'Voir les détails', arena_path(arena), class: "btn btn-primary" %>
                  <!-- Cela ajoute un bouton qui redirige vers la page show de l'arène -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
