<div class="container">
  <h1 class="arena-name mb-5"><%= @arena.name %></h1>

  <div class="arena-details d-flex">
 <%= image_tag 'arena.jpg', class: 'card-img-top arena-pic' %>  </div>

  <div class="arena-meta ms-5 d-flex align-items-start flex-column mb-3">
    <p>Localisation : <%= @arena.address %></p>
    <p>Capacité : <%= @arena.capacity %> personnes</p>
    <p>Description : <%= @arena.description %></p>

    <div class="buttons mt-auto d-flex justify-content-between">
      <%= link_to "Retour à la liste des arènes", arenas_path, class: "btn btn-primary" %>

      <% if user_signed_in? && current_user.id == @arena.user_id %>
        <%= link_to "Modifier cette salle", edit_arena_path(@arena), class: "btn btn-warning" %>
        <%= link_to "Supprimer cette salle", @arena, method: :delete, data: { confirm: "Es-tu sûr de vouloir supprimer cette salle ?" }, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Réserver cette salle", new_arena_booking_path(@arena), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
