<div class="container">
  <h1 class="arena-name mb-5"><%= @arena.name %></h1>
  <div class="arena-details d-flex">
    <%= cl_image_tag @arena.photo.key, class: 'card-img-top arena-pic' %>
    <div class="arena-meta ms-5 d-flex align-items-start flex-column mb-3">
      <p>Localisation : <%= @arena.address %></p>
      <p>Capacité : <%= @arena.capacity %> personnes</p>
      <p>Description : <%= @arena.description %></p>
      <div class="buttons mt-auto d-flex justify-content-between">
        <%= link_to 'Retour à la liste des arènes', arenas_path, class: "btn btn-primary" %>
        <%= link_to 'Réserver cette salle', new_arena_booking_path(@arena), class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <!-- Div pour le calendrier -->
  <div id="calendar" data-arena-id="<%= @arena.id %>"></div>
</div>
