<div class="container">
  <div class="info">
    <h1>Bienvenue sur BookArena</h1>
    <h3>Il n'a jamais été aussi simple de démarrer votre carrière</h3>
    <h3>Il n'a jamais été aussi simple de remplir vos salles</h3>
  </div>
  <div class="container text-center mt-5">
    <div class="row justify-content-around">
      <% if user_signed_in? && current_user.category == "owner" %>
        <%= render "owner_card" %>
        <%= render "owner_arenas_card" %>
      <% elsif user_signed_in? && current_user.category == "band" %>
        <%= render "artist_card" %>
        <%= render "artist_books_card" %>
      <% else %>
        <%= render "owner_card" %>
        <%= render "artist_card" %>
      <% end %>
    </div>
  </div>
</div>
